In [1]:
import pandas as pd
import openpyxl

set  directory path of dataset

In [5]:
df=pd.read_excel("Assignment.xlsx")

In [6]:
text=df['Article']

Applying filter of artcile  using NLTK

In [16]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
import nltk
import re
import string

# Download NLTK resources
nltk.download('stopwords')
nltk.download('wordnet')

# Create an instance of WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

def clean_text(text):
    # Remove punctuation
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    
    # Tokenize and remove stopwords
    stop_words = set(stopwords.words('english'))
    tokens = text.split()
    tokens = [word for word in tokens if word.lower() not in stop_words]
    
    # Lemmatize words
    tokens = [lemmatizer.lemmatize(word) for word in tokens]
    
    # Join tokens back into text
    cleaned_text = ' '.join(tokens)
    
    return cleaned_text.lower()

[nltk_data] Downloading package stopwords to C:\Users\sumit
[nltk_data]     kumar\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [15]:
df['Original_Article'] = df['Article'].apply(clean_text)

NameError: name 'stopwords' is not defined

In [59]:
df.head()

,Article,Original_Article
0,"Retailers, the makers of foods marketed for we...",retailers maker food marketed weight loss type...
1,"Move over, Ozempic — there’s a new drug in tow...",move ozempic — there’s new drug town eli lilly...
2,Sept 14 (Reuters) - Bristol Myers Squibb (BMY....,sept 14 reuters bristol myers squibb bmyn said...
3,Austin Wolcott was 18 years old and pretty sur...,austin wolcott 18 year old pretty sure wouldn’...
4,"Cancer, often referred to as the “emperor of a...",cancer often referred “emperor maladies” unyie...

In [60]:
df.drop(df[['Article']],axis=1,inplace=True)

In [61]:
df.to_csv("update_data.csv",index=False)

In [64]:
text=df['Original_Article']

Summary of the Article

In [67]:
import pandas as pd
from transformers import BartTokenizer, BartForConditionalGeneration

# Define the summarization function
def summarize_text(text):
    # Load pre-trained tokenizer and model
    tokenizer = BartTokenizer.from_pretrained('facebook/bart-large-cnn')
    model = BartForConditionalGeneration.from_pretrained('facebook/bart-large-cnn')

    # Tokenize input text
    inputs = tokenizer([text], max_length=30, return_tensors='pt', truncation=True)

    # Generate summary
    summary_ids = model.generate(inputs['input_ids'], max_length=150, num_beams=4, early_stopping=True)
    summary = tokenizer.decode(summary_ids[0], skip_special_tokens=True)

    return summary




# Apply the summarization function to each article
df['cleaned_Article'] = df['Original_Article'].apply(summarize_text)

df.head()

c:\Users\sumit kumar\anaconda3\envs\senti_anlysis\Lib\site-packages\huggingface_hub\file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

,Original_Article,Summary,cleaned_Article
0,retailers maker food marketed weight loss type...,retailers maker food marketed weight loss type...,retailers maker food marketed weight loss type...
1,move ozempic — there’s new drug town eli lilly...,move ozempic — there’s new drug town eli lilly...,move ozempic — there’s new drug town eli lilly...
2,sept 14 reuters bristol myers squibb bmyn said...,Bristol Myers Squibb to double number of treat...,Bristol Myers Squibb to double number of treat...
3,austin wolcott 18 year old pretty sure wouldn’...,austin wolcott 18 year old pretty sure wouldn’...,austin wolcott 18 year old pretty sure wouldn’...
4,cancer often referred “emperor maladies” unyie...,cancer often referred “emperor maladies’ unyie...,cancer often referred “emperor maladies’ unyie...

In [73]:
df.drop(df[['Summary']],axis=1,inplace=True)

In [5]:
df.to_csv("Clean_data.csv",index=False)

NameError: name 'df' is not defined

In [6]:
import pandas as pd
df=pd.read_csv("sentiment_data.csv")

In [7]:
df.head()

                                       clean_Article sentiment
0  New diabetes and weight loss drugs like Ozempi...   neutral
1  Eli Lilly’s Zepbound, with the active ingredie...   neutral
2  Bristol Myers Squibb (BMY.N) plans to double t...   neutral
3  CAR-T therapy aims to build cells that outsmar...  positive
4  CytoMed Therapeutics is carving out a unique s...   neutral